body {
background: rgb(100, 100, 200);
font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
background: white;
border-radius: 10px;
padding: 500px;
width: 500px;
margin: auto;
box-shadow: 3px 3px 10px rgba(0, 0, 0. 0.363);
}

div{
    text-align: center;
}

footer {
    color: white;
    text-align: center;
font-style: italic;
}
